[include macros.cfg]
# Helper script to park the carriage (called from T0 and T1 macros)
[gcode_macro PARK_extruder]
gcode:
    SAVE_GCODE_STATE NAME=park0
    G90
    G1 X-60
    RESTORE_GCODE_STATE NAME=park0

# Activate the primary extruder
[gcode_macro T0]
gcode:
    home_check
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    #force offset always ZERO
    SET_GCODE_OFFSET X=0 
    SET_GCODE_OFFSET Y=0


[gcode_macro PARK_extruder1]
gcode:
    
    SAVE_GCODE_STATE NAME=park1
    G90
    G1 X340
    RESTORE_GCODE_STATE NAME=park1

[gcode_macro T1]
gcode:
    home_check
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
    #set Offset
    SET_GCODE_OFFSET X=4

